/* Do not remove the @namespace line -- it's required for correct functioning */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* NEVER */
.tab-close-button{ display: none !important; }

/* ON HOVER */
/* .tabbrowser-tab:not(:hover) 
.tab-close-button{ display: none; }
.tabbrowser-tab:hover 
.tab-close-button{ display: block !important; } */

