/* ########################### Remove Min Max Close Button ###################### */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#titlebar-min {display: none !important;}
#titlebar-max {display: none !important;}
#titlebar-close {display: none !important;}

/* For Fullscreen Mode */
#window-controls { display:none!important; }
/* ############################################################### */